<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2? display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <title>
            index
        </title>
    </head>
    <body>
        <header class="authorization-header">
            <nav class="authorization-header__panel">
                {% if current_user.is_authenticated %}
                    <a class="navbar-brand" href="/logout">{{ current_user.surname }} {{ current_user.name }}</a>
                {% else %}
                    <p>
                        <a class="btn btn-register btn_modif" href="/register">Зарегистрироваться</a>
                        <a class="btn btn-login btn_modif" href="/login">Войти</a>
                    </p>
                {% endif %}
            </nav>
        </header>
        <main>
            {% extends "base.html" %}

            {% block content %}
            <div class="content">
                {% if current_user.is_authenticated %}
                    <a href="jobs" class="btn btn-secondary btn_modif">Добавить работу</a>
                {% endif %}
                <h2 class="h2_none_margin">Работы</h2>
                {% for job in jobs%}
                <div class="item">
                    <h3>Action №{{ loop.index }}</h3>
                    <table>
                        <tr>
                            <th>Title if activity</th>
                            <th>Team leader</th>
                            <th>Duration</th>
                            <th>List of collaborators</th>
                            <th>Is finished</th>
                        </tr>
                        <tr>
                            <td>{{ job.job }}</td>
                            <td>{{ job.user.surname }} {{ job.user.name }}</td>
                            <td>{{ job.work_size }} hours</td>
                            <td>{{ job.collaborators }}</td>
                            <td class="{% if job.is_finished %} green {% else %} red {% endif %}">{% if job.is_finished %} is finished {% else %} is not finished {% endif %}</td>
                        </tr>
                    </table>
                    {% if current_user.is_authenticated and (current_user.id == 1 or current_user.id == job.team_leader) %}
                    <div class="setting-panel">
                        <a href="/jobs/{{ job.id }}" class="btn btn-warning btn_modif">
                            Изменить
                        </a>
                        <a href="/jobs_delete/{{ job.id }}" class="btn btn-danger btn_modif">
                            Удалить
                        </a>
                    </div>
                {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endblock %}
        </main>
    </body>
</html>