<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1110px, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2? display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>news</title>
</head>
<body>
    <main>
        <div class="main__body _container">

            {% extends "base.html" %}

            {% block content %}
            <div class="content">
                <h1>Добавление новости</h1>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p class="field">
                        {{ form.title.label }}<br>
                        {{ form.title(class="form-control") }}<br>
                        {% for error in form.title.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </p>
                    <p class="field">
                        {{ form.content.label }}<br>
                        {{ form.content(class="form-control") }}<br>
                        {% for error in form.content.errors %}
                            <p content="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </p>
                    <p class="field">{{ form.is_private() }} {{ form.is_private.label }}</p>
                    <p>{{ form.submit(type="submit", class="btn btn_submit btn-primary") }}</p>
                    {{message}}
                </form>
            </div>
            {% endblock %}
        </div>
    </main>
</body>
</html>