<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2? display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <title>
            register
        </title>
    </head>
    <body>
        {% extends "base.html" %}

        {% block content %}
        <div class="content">
            <h2>Registor form</h2>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p class="field">
                    {{ form.email.label }}<br>
                    {{ form.email(class="form-control", type="email") }}<br>
                    {% for error in form.email.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p class="field">
                    {{ form.password.label }}<br>
                    {{ form.password(class="form-control", type="password") }}<br>
                    {% for error in form.password.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p class="field">
                    {{ form.password_again.label }}<br>
                    {{ form.password_again(class="form-control", type="password") }}<br>
                    {% for error in form.password_again.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p class="field">
                    {{ form.surname.label }}<br>
                    {{ form.surname(class="form-control") }}<br>
                    {% for error in form.surname.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p class="field">
                    {{ form.name.label }}<br>
                    {{ form.name(class="form-control") }}<br>
                    {% for error in form.name.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p class="field">
                    {{ form.age.label }}<br>
                    {{ form.age(class="form-control") }}<br>
                    {% for error in form.age.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p class="field">
                    {{ form.position.label }}<br>
                    {{ form.position(class="form-control") }}<br>
                    {% for error in form.position.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p class="field">
                    {{ form.speciality.label }}<br>
                    {{ form.speciality(class="form-control") }}<br>
                    {% for error in form.speciality.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                
                <p class="field">
                    {{ form.address.label }}<br>
                    {{ form.address(class="form-control") }}<br>
                    {% for error in form.address.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                {{message}}
            </form>
        </div>
        {% endblock %}
    </body>
</html>